body {
    background: #111;
    color: #fff;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.movie-details {
    display: flex;
    gap: 30px;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    align-items: flex-start;
}

.movie-poster {
    width: 320px;
    height: 460px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.4);
}

.movie-info h1 {
    font-size: 35px;
    margin-bottom: 10px;
}

.movie-info p {
    font-size: 18px;
    margin: 6px 0;
}

.movie-info strong {
    color: #d68101;
}

.btn-edit,
.btn-delete {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px 0 0;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-edit {
    background: #1e90ff;
}

.btn-edit:hover {
    background: #0b6ecb;
}

.btn-delete {
    background: #ff3333;
}

.btn-delete:hover {
    background: #cc0000;
}

.rate-section {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 10px;
}

.rate-section h2 {
    margin-bottom: 15px;
}

.rate-section select,
.rate-section textarea {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    resize: none;
    background: #222;
    color: #fff;
}

.btn-submit {
    background: #28a745;
    padding: 10px 22px;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-submit:hover {
    background: #1d7e34;
}

.note {
    text-align: center;
    color: #a81900;
    margin: 20px 0;
}

.reviews {
    max-width: 900px;
    margin: 40px auto;
}

.reviews h2 {
    margin-bottom: 20px;
}

.review-box {
    background: #1a1a1a;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.review-box strong {
    font-size: 18px;
    color: #ffd000;
}

.review-box p {
    margin: 10px 0;
    font-size: 16px;
}
.star-rating {
    display: flex;
    gap: 8px;
    cursor: pointer;
}

.star {
    font-size: 32px;
    color: #ccc;
    transition: color 0.2s ease-in-out;
}

.star.selected {
    color: gold !important;   
}

.star:hover,
.star:hover ~ .star {
    color: gold;
}


@media (max-width: 768px) {
    .movie-details {
        flex-direction: column;
        text-align: center;
    }

    .movie-poster {
        width: 90%;
        height: auto;
        margin: auto;
    }

    .movie-info {
        text-align: left;
        padding: 15px;
    }
}
