body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #7c73658e;
    color: #f1f1f1;
    padding: 0;
}

#main-section {
    max-height: auto;
      margin: 0px auto;
    padding: 0px 14rem;}

.page-title {
    text-align: center;
       font-size: 4rem;
    margin: 27px 21px;
    color: #d68101;
    text-shadow: 2px 2px 5px #000;
}

.genre-block {
    position: relative;
    margin-bottom: 40px;
}

.genre-title {
    padding-bottom: 20px;
    font-size: 1.8rem;
    color:#d68101;
}

.movie-row {
    display: flex;
    gap: 15px;
    overflow-x: hidden;
    overflow-y: hidden;

    scroll-behavior: smooth;
}

.movie-card {
    min-width: 220px;
    max-width: 220px;
    flex: 0 0 auto;
    text-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
    background: #1e1e1e;
}

.movie-card img {
    max-width: 220px;
    min-width: 220px;
    border-radius: 8px;
    display: block;
}

.movie-card:hover {
    transform: scale(1.05);
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 44px;
        transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border: none;
    font-size: 8px;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50px;
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}



.movie-card h3 {
    font-size: 1.2rem;
    margin: 12px 0 5px;
    color: #d68101;
}

.movie-card .year,
.movie-card .avg-rating {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.movie-card .year {
    color: #bbb;
}

.movie-card .avg-rating {
    color: #ffd700;
}

.right-search {
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.right-search input {
    width: 220px;
}

@media (max-width: 1024px) {
    .movie-card {
        flex: 1 1 150px;
    }
}

@media (max-width: 768px) {
    .movie-card {
        flex: 1 1 45%;
    }
}

@media (max-width: 480px) {
    .movie-card {
        flex: 1 1 100%;
    }
}

.banner-slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.banner-slide {
    min-width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
}

.banner-slide img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.banner-slide h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
    border-radius: 5px;
}

.banner-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.banner-btn.prev {
    left: 10px;
}

.banner-btn.next {
    right: 10px;
}